.recommend-box {
  margin: 60px auto;
  padding: 40px;
  background: linear-gradient(90deg, rgba(52,211,153,0.2), rgba(59,130,246,0.2));
  border-radius: 20px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.2);
}
.body{
 background: linear-gradient(180deg, #1e293b 0%, #2d3e5f 100%);
}
h2{
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  margin-left: 60px;
}
.recommend-box p{
  font-size: 18px;
  margin-left: 30px;
}
.recommend-btn {
  margin-top: 15px;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  background: #34d399;
  cursor: pointer;
  font-weight: bold;

}