h1{
    font-size: 50px;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
.call-button{
    background: linear-gradient(135deg,#000000,#434343);
    color:azure;
   margin-left: 570px;
   height: 70px;
   width: 400px;
   font-size: 1.5rem;
   font-weight: 400;
   border-radius: 20px;
   margin-bottom: 0px;
   padding-top: 0px;
  display: inline-flex;
  align-items: center;
  gap: 10px;

}
.call-button img{
    height: 60px;
    padding-left: 50px;
}
