.empty-box {
  text-align: center;
  padding: 30px;
  background: rgba(255,255,255,0.15);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
}

.empty-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  color: #93c5fd;
}